.event-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.category-filter {
  background-color: #B2DFDB;
  box-shadow: 0 1px 3px #FAFAFA;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 8px;
}

.filter-label {
  margin-right: 10px;
  font-weight: 700;
}

.filter-select {
  margin-right: 10px;
  font-weight: 700;
}

.opt {
  margin-right: 10px;
  font-weight: 700;
}

.filter-button:hover {
  background-color: #0056b3;
}